* {
 padding: 0;
 margin: 0;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
 list-style: none;
}

.first-ul{
 padding: 20px 25px 20px 25px;
 display: flex;
}

.search-shopping-icon{
 height: 20px;
}
.li-words1{
 padding-left: 20px;
 padding-top: 5px;
 font-size: 14px;
}
.li-words{
 padding-top: 5px;
padding-left: 20px;
font-size: 14px;
}
.last-li-items1{
padding-left: 550px;
font-size: 14px;
padding-top: 15px;
}
.last-li-items{
 padding-left: 20px;
 padding-top: 5px;
}
.first-logo {
 height: 30px;
}
.last-logo{
  height: 30px;

}
.first-banner{
  background-image: url(../images/Banner.avif);
 height: 750px;
margin: 0px 5px 0px 5px;
 background-repeat: no-repeat;
}
.banner-pics{
 height: 500px;
width: 1330px;
 background-repeat: no-repeat;
 background-size: contain;
}
.first-banner-text{
  line-height: 1.2;
  padding: 200px 0px 0px 100px;

}
.first-banner-text1{
  padding-bottom: 20px;
  font-size: 35px;
    font-weight: 600;
}
.first-banner-text2{
  padding-bottom: 20px;
  font-size: 17px;
   line-height: 1.4;
}
.first-banner-btn{
  background-color: #0067b8;
  padding: 10px 10px 10px 10px;
margin: 0px 0px 0px 100px;
color: #ffff;
font-size: 20px;
font-weight: 600;
border-style: dotted;
border: 2px solid #0067b8;;
}


.box-pics-section1{

}
.second-ul{
 display: flex;
 justify-content: space-between;
 padding: 0px 50px 0px 50px;
}
.box-pics-section1-h2{
 padding: 15px 0px 15px 0px;
}
.box-pics-section1-p{
 padding: 0px 0px 25px 0px;
 }
 a{
  color: #0067b8;
  text-decoration: none;
 }
 .second-banner{
  padding: 100px 50px 150px 50px;
 }
 .banner2-pics{
  background-image: url(../images/banner2.webp);
  height: 700px;
  background-repeat: no-repeat;
 }
 .banner2-pics-text{
  padding: 200px 0px 0px 100px;
  font-weight: lighter;
 }
  .banner2-pics-text-h2{
font-size: 30px;
  }
 .banner2-pics-text-p{
  padding: 20px 0px 20px 0px;
 }
 .banner2-pics-download-btn{
background-color: #0067b8;
color: white;
 }
 .box-pics-section2-text-h2{
  padding-left: 50px;
 }
  .section2-ul {
   display: flex;
   justify-content: space-between;
   padding: 0px 50px 0px 50px;
  }
 
  .box-pics-section2-h2 {
   padding: 15px 0px 15px 0px;
  }
 
  .box-pics-section2-p {
   padding: 0px 0px 25px 0px;
  }
 
  a {
   color: #0067b8;
   text-decoration: none;
  }
  .box-pics-section2-h4{
   padding-bottom: 100px;
  }
  .section3-ul{
   display: flex;
   padding: 30px 0px 0px 50px;
  }
  .x-lkdin-logo{
   height: 35px;
   padding-left: 20px;
  }
  .to-top-btn{
   padding: 0px 20px 20px 1150px;
  }
  .to-top-btn-text{
   padding: 5px 15px 5px 20px;
   display: flex;
   justify-content: right;
   font-size: 22px;
   background-color: rgb(223, 216, 216);
  }
    .to-top-btn-text:hover{
     background-color: white;
     padding: 10px 15px 10px 15px;
     display: flex;
     justify-content: right;
     font-size: 22px;
     box-shadow: 0px 0px 1px 1px rgb(227, 226, 226);
    }
    footer{
     display: flex;
     padding: 20px 50px 20px 50px;
     background-color: rgb(223, 216, 216);
    }
    footer ul{
          margin: 30px;
    }
    footer li{
     padding-top: 10px;
     font-size: smaller;
    }
    .footer-li-items{
     display: flex;
     font-size: small;
     padding: 0px 0px 20px 10px;
     background-color: rgb(223, 216, 216);
    }
   .footer-last-list-a {
    padding: 0px 0px 0px 10px;
     margin-right: 10px;
   }
    .footer-last-list1{
     padding: 0px 0px 0px 400px;
    margin-right: 10px;
    }
    .footer-last-list{
      margin-right: 10px;
    }
    .globe-logo{
      height: 20px;
      padding-left: 70px;
    }